---
const navigation = [
    {
        text: `© ${new Date().getFullYear()}`
    },
    {
        text: 'Threads Terms'
    },
    {
        text: 'Privacy Policy'
    },
    {
        text: 'Cookies Policy'
    },
    {
        text: 'Report a problem'
    }
]

const { pathname } = Astro.url;

const currentPath = pathname === '/login';
---

<footer class={`h-16 w-full ${
    currentPath ? 'mb-0' : 'mb-20 sm:mb-0'
  } bottom-0 flex items-center text-center px-4 absolute`}>
    <ul class="mx-auto text-center text-footer">
        {navigation.map((item, index) => {
            const isYearDate = index === 0;
            return (
                <li class="ml-3 inline-block text-center">
                    <span
                        class={`max-w-full font-normal text-xs text-start relative flex whitespace-pre-line ${
                            isYearDate ? '' : 'hover:underline cursor-pointer'
                        }`}
                        style="word-break: break-word; word-wrap: break-word;"
                    >
                        <p>{item.text}</p>
                    </span>
                </li>
            )
        })}
    </ul>
</footer>
