---
import Footer from './Footer.astro'

import { Toaster } from 'react-hot-toast'

interface Props {
    title: string
}

const { title } = Astro.props
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>Threads • {title}</title>
</head>
<body>
        <Toaster
            client:load
            position='bottom-center'
            reverseOrder
            gutter={8}
            toastOptions={{
                duration: 3000,
                className: "",
                style: {
                    maxWidth: "100%",
                    background: "#fff",
                    color: "#000",
                    boxShadow: "0 8px 20px rgba(0, 0, 0, .2), 0 2px 4px 0 rgba(0, 0, 0, .1)",
                    borderRadius: "8px",
                    paddingRight: "14px",
                    paddingLeft: "14px",
                    paddingTop: "10px",
                    paddingBottom: "10px",
                    alignItems: "center"
                }
            }}
        />
        <main class="flex flex-col min-h-screen relative bg-primary">
            <slot />
        </main>
        <Footer />
</body>
</html>

<style is:global>
    button {
        @apply transition-transform ease-in-out active:scale-95;
    }
</style>