---
import Avatar from "@/components/Common/Avatar.astro";
import MainLayout from "@/components/Layout/MainLayout.astro";
import { Icon } from "astro-icon/components";

const profiles = [
    {
        avatar: "https://img.clerk.com/eyJ0eXBlIjoicHJveHkiLCJzcmMiOiJodHRwczovL2ltYWdlcy5jbGVyay5kZXYvb2F1dGhfZ29vZ2xlL2ltZ18yajFubTNHTUxNMUtNZTJ5RVZWT3RkUmM1NEgifQ",
        username: "Jhoen Doe",
        fullName: "El papu friza"
    },
    {
        avatar: "https://img.clerk.com/eyJ0eXBlIjoicHJveHkiLCJzcmMiOiJodHRwczovL2ltYWdlcy5jbGVyay5kZXYvb2F1dGhfZ29vZ2xlL2ltZ18yajFubTNHTUxNMUtNZTJ5RVZWT3RkUmM1NEgifQ",
        username: "Jhoen Doe",
        fullName: "El papu friza"
    },
    {
        avatar: "https://img.clerk.com/eyJ0eXBlIjoicHJveHkiLCJzcmMiOiJodHRwczovL2ltYWdlcy5jbGVyay5kZXYvb2F1dGhfZ29vZ2xlL2ltZ18yajFubTNHTUxNMUtNZTJ5RVZWT3RkUmM1NEgifQ",
        username: "Jhoen Doe",
        fullName: "El papu friza"
    },
    {
        avatar: "https://img.clerk.com/eyJ0eXBlIjoicHJveHkiLCJzcmMiOiJodHRwczovL2ltYWdlcy5jbGVyay5kZXYvb2F1dGhfZ29vZ2xlL2ltZ18yajFubTNHTUxNMUtNZTJ5RVZWT3RkUmM1NEgifQ",
        username: "Jhoen Doe",
        fullName: "El papu friza"
    },
    {
        avatar: "https://img.clerk.com/eyJ0eXBlIjoicHJveHkiLCJzcmMiOiJodHRwczovL2ltYWdlcy5jbGVyay5kZXYvb2F1dGhfZ29vZ2xlL2ltZ18yajFubTNHTUxNMUtNZTJ5RVZWT3RkUmM1NEgifQ",
        username: "Jhoen Doe",
        fullName: "El papu friza"
    }
]
---
<MainLayout title="Search">
    <section class="flex flex-col items-center px-4 overflow-hidden h-full py-4">
        <span class="border border-outlineFocus gap-3 w-full sm:w-[580px] sm:h-16 flex items-center justify-self-end px-6 text-outlineFocus bg-[#0a0a0a] rounded-full">
            <Icon
                name="navbar/search"
                class="w-5 h-5 text-gray-400"
            />
            <input
                type="search"
                placeholder="Search"
                class="text-lg py-2 w-full bg-transparent outline-none text-white"
            />
        </span>
            {profiles.map(item => (
            <div class="flex py-5 w-full justify-center border-b border-outlineFocus px-2">
               <Avatar
                   src={item?.avatar}
                   alt={item.username}
                   width={48}
                   height={48}
               />
               <div class="w-full pb-1">
                   <div class="p-1 flex justify-between">
                       <span class="text-sm w-28 truncate overflow-hidden max-w-sm sm:w-full">
                           <strong>{item.username}</strong>
                           <h4 class="text-neutral-600">{item.fullName}</h4>
                       </span>
                   </div>
               </div>
           </div>
           ))}
    </section>
</MainLayout>